.fourthcont{
    width:100%;
    height:500px;
    background-color:rgb(0, 0, 0);
}

@media screen and (max-width:600px){
    .fourthcont{
        height:1000px;
    }
}

@media screen and (min-width:601px) and (max-width:1100px) {
    .fourthcont{
    height:600px;
    }
}


.percentoffourth{
    width:80%;
    height:499px;
    margin:auto;
}


@media screen and (max-width:600px){
    .percentoffourth{
        height:auto;
        width:100%;
    }
}

@media screen and (min-width:601) and (max-width:1100px){
    .percentoffourth{
        width:100%;
    }
}


.shefpart{
    width:49%;
    height:499px;
    float:left;
}

@media screen and (max-width:600px){
    .shefpart{
        width:100%;
    }
}

.shefpart img{
    width:95%;
    border-radius:10px;
    height:400px;
    margin-top:50px;
}

@media screen and (max-width:600px){
    .shefpart img{
        width:100%;
        margin-top:0px;
        height:500px;
    }
}

.shefpart h2{
    margin-top:70px;
    color:aqua;
}

.shefpart h3{
    color:aqua;
}

.shefpart p{
    margin-top:20px;
    font-size:20px;
    color:blue;
    font-weight:bold;
}